body {
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic;
}

.tick line {
  stroke: #aaa;
  stroke-width:0.8;
}

circle, .groups text {
  cursor: pointer;
}

.groups text {
  fill: #fff;
}

.tick text {
  font-size: 14px;
  fill: #999;
}